$color-blue: #47b0ff;
$color-green: #5dfdcb;
$color-sky: #617c8f;

// Grey
$color-white: #ffffff;
$color-grey-100: #dfdfdf; // Bezel
$color-grey-300: #979797; // Stone
$color-grey-500: #6d6d6d; // Grey
$color-grey-700: #3c3c3c; // Dark
$color-grey-900: #1c1c1c; // Darker
$color-black: #000000;

// notification
$color-error: #e26262;
$color-success: #81d05b;
$color-warning: #ffca3a;
$color-info: #4ad5e2;

:root {
  --color-blue: #{$color-blue};
  --color-green: #{$color-green};
  --color-sky: #{$color-sky};
  --color-white: #{$color-white};
  --color-grey-100: #{$color-grey-100};
  --color-grey-300: #{$color-grey-300};
  --color-grey-500: #{$color-grey-500};
  --color-grey-700: #{$color-grey-700};
  --color-grey-900: #{$color-grey-900};
  --color-black: #{$color-black};
  --color-error: #{$color-error};
  --color-success: #{$color-success};
  --color-warning: #{$color-warning};
  --color-info: #{$color-info};
  --swiper-pagination-color: #{$color-blue};
  --swiper-pagination-bullet-inactive-color: #{$color-blue};
}
