@import './colors.scss';
@import './fonts.scss';
@import './layout.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  font-size: 18px;
}

html,
body {
  width: 100vw;
  height: 100vh;
  user-select: none;
}

p,
textarea,
input,
button,
select,
option,
label,
a {
  color: var(--color-grey-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-grey-700);
}

.App {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    max-height: 100vh;
  }
}

img {
  width: 100%;
  object-fit: cover;
}

.icons {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.main-header {
  padding: var(--safe-zone-y) var(--safe-zone-x) 10px var(--safe-zone-x);
}

.logo {
  position: absolute;
  top: 65px;
  left: 90px;
}

header {
  padding: 30px;

  @media (max-width: $breakpoint-sm) {
    padding: 0;
    margin-bottom: 1rem;
  }
}

.title {
  margin-bottom: 15px;

  @media (max-width: $breakpoint-sm) {
    text-align: center;
  }
}
.swiper {
  height: 100%;

  .swiper-slide {
    transition: transform 0.15s ease-in;
    transform: translateY(5rem) !important;

    &.swiper-slide-active,
    &.swiper-slide-duplicate-active {
      transform: translateY(0) !important;
    }

    &.swiper-slide-next,
    &.swiper-slide-prev,
    &.swiper-slide-duplicate-next,
    &.swiper-slide-duplicate-prev {
      transform: translateY(2.5rem) !important;
    }
  }

  .swiper-pagination-bullet {
    transition: 0.25s ease-in-out;
  }

  .swiper-pagination-bullet-active {
    width: 16px;
    border-radius: 20px;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

.d-25 {
  animation-delay: 0.25s;
}

.d-50 {
  animation-delay: 0.5s;
}

.d-75 {
  animation-delay: 0.75s;
}

.d-100 {
  animation-delay: 1s;
}

.d-125 {
  animation-delay: 1.25s;
}

.d-150 {
  animation-delay: 1.5s;
}

.d-175 {
  animation-delay: 1.75s;
}

.d-200 {
  animation-delay: 2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
