@import './colors.scss';
@import './fonts.scss';
@import './layout.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  font-size: 18px;
}

html,
body {
  width: 100vw;
  height: 100vh;
}
