$margin: 1.25rem;

.modal {
  .modal_content {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: $margin;
    right: $margin;
    background-color: var(--color-white);
    padding: 0.938rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
    opacity: 0;
    animation: fade-in 0.6s ease-in-out forwards;

    @media (min-width: 768px) {
      top: 50%;
      left: 50%;
      right: unset;
      bottom: unset;
      transform: translate(-50%, -50%);
      flex-direction: row;
      gap: 1.875rem;
      align-items: start;
      padding: 1.875rem;
      animation: fade-in-desktop 0.3s ease-in-out forwards;
    }

    div {
      margin: 1rem 0;
      text-align: center;
      width: 100%;

      @media (min-width: 768px) {
        margin: 0;
        text-align: left;
      }

      h4 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
      }

      p {
        padding: $margin;
        font-weight: 300;
        font-size: 0.9rem;
        word-break: break-word;
        opacity: 0.6;

        @media (min-width: 768px) {
          padding: 0;
          max-width: 25rem;
          margin-bottom: 1rem;
        }
      }
    }

    img {
      width: 64px;
      height: 64px;
      margin-right: 1rem;
    }

    .controls {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.625rem;

      @media (min-width: 768px) {
        align-items: flex-end;
      }

      button {
        width: 100%;

        @media (min-width: 768px) {
          width: fit-content;
        }
      }
    }

    .error {
      font-size: 0.7rem;
    }
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 49;
  }
}

@keyframes fade-in-desktop {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
