.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;

  .image {
    object-fit: cover;

    @media (min-width: 768px) {
      object-fit: contain;
      animation: background_waves 40s linear infinite;
    }
  }
}

@keyframes background_waves {
  0% {
    transform: translate(-40vw, -40vh) rotate(0deg);
  }
  25% {
    transform: translate(20vw, 0vh) rotate(60deg);
  }
  50% {
    transform: translate(5vw, 70vh) rotate(120deg);
  }
  75% {
    transform: translate(-10vw, 10vh) rotate(220deg);
  }
  100% {
    transform: translate(-40vw, -40vh) rotate(360deg);
  }
}
