.morphButton {
  border-radius: 60px;
  border: none;
  width: 60px;
  height: 60px;
  overflow: hidden;
  transition: 0.35s ease-in-out;
  position: relative;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(50%, -50%);
    transition: transform 0.35s ease-in-out;
  }

  p {
    color: inherit;
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
    white-space: nowrap;
    font-size: 1rem;
  }

  &.primary {
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  &.secondary {
    background-color: var(--color-sky);
    color: #fff;
  }

  &.success {
    background-color: var(--color-green);
    color: #fff;
  }

  &.white {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  &.black {
    background-color: var(--color-black);
    box-shadow: 0px 7px 13px rgba(255, 255, 255, 0.3), 0px 2px 4px rgba(232, 231, 231, 0.4),
      inset 0px -3px 0px rgba(255, 255, 255, 0.5);
    color: var(--color-white);
  }

  &[data-status='error'] {
    background-color: var(--color-error);

    img {
      transform: translate(50%, -50%) rotate(45deg);
    }
  }

  &[data-status='valid'] {
    width: 180px;
  }
}
