$margin: 30px;

.about {
  width: 50vw;
  background-color: var(--color-white);
  overflow: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - ($margin * 2));
  margin: $margin;
}

.paragraph {
  margin: 1rem 0;
  width: 100%;
  overflow-wrap: break-word;

  h2 {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  p {
    font-weight: 400;
  }
}
