.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 10px 90px 32px 90px;
  font-weight: 300;
  bottom: env(safe-area-inset-bottom, 0);
  z-index: 15;
  pointer-events: none;

  > * {
    pointer-events: all;
  }

  .watermark {
    color: var(--color-black);
    text-decoration: none;
  }

  .footer_cta {
    display: flex;
    align-items: flex-end;

    > * {
      margin: 0 5px;
    }
  }

  &[data-hasfadebkg='true'] {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
  }
}
