.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 0.625rem var(--safe-zone-x) var(--safe-zone-y) var(--safe-zone-x);
  font-weight: 300;
  bottom: env(safe-area-inset-bottom, 0);
  z-index: 15;
  pointer-events: none;

  @media (max-width: 992px) {
    display: none;
    font-size: 0.75rem;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem 0;
  }

  > * {
    pointer-events: all;
  }

  .watermark {
    color: var(--color-black);
    text-decoration: none;

    @media (max-width: 992px) {
      color: var(--color-blue);
    }
  }

  .footer_cta {
    display: flex;
    align-items: flex-end;

    > * {
      margin: 0 0.313rem;
    }
  }

  &[data-hasfadebkg='true'] {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
  }
}
