.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  font-weight: 300;
}

.watermark {
  opacity: 0.5;
}
