.notification {
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 3;

  &[data-type='error'] {
    svg {
      color: var(--color-error);
    }
  }

  &[data-type='success'] {
    svg {
      color: var(--color-success);
    }
  }

  &[data-type='warning'] {
    svg {
      color: var(--color-warning);
    }
  }

  &[data-type='information'] {
    svg {
      color: var(--color-info);
    }
  }
}
