.notification {
  border-radius: 1.25rem;
  padding: 0.625rem 0.938rem;
  max-width: 80vw;
  word-break: break-all;
  border: 0.063rem solid var(--color-grey-100);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 0.625rem;
  z-index: 5;
  animation: popup 200ms ease-in;

  button {
    min-width: 2rem;
  }

  @media (min-width: 31.25rem) {
    max-width: 25rem;
  }

  &[data-type='error'] {
    svg {
      color: var(--color-error);
    }
  }

  &[data-type='success'] {
    border-color: var(--color-success);
    svg {
      color: var(--color-success);
    }
  }

  &[data-type='warning'] {
    svg {
      color: var(--color-warning);
    }
  }

  &[data-type='information'] {
    svg {
      color: var(--color-info);
    }
  }
}

@keyframes popup {
  from {
    opacity: 0.5;
    transform: translateY(0.625rem) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
