.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background-color: var(--color-blue);
  background: linear-gradient(200deg, #47afffcd, #24c793ae);
  background-size: 200% 200%;
  opacity: 0.9;
  backdrop-filter: blur(0.938rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99;
  animation: fade 200ms ease-in, backgroundWaving 5s ease infinite;

  h3 {
    font-size: 1.3rem;
    color: var(--color-white);
    margin-bottom: 1rem;
  }

  p {
    max-width: 18.75rem;
    color: var(--color-white);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes backgroundWaving {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
