.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-blue);
  color: var(--color-white);
  opacity: 0.9;
  backdrop-filter: blur(15px);
  border: 5px solid #47b0ff59;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99;
  animation: fade 200ms ease-in;

  h3 {
    font-size: 1.3rem;
  }

  p {
    max-width: 300px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
