.controls {
  display: flex;
}

.preview {
  flex: 1;
  padding: 0.5rem;
  overflow: auto;
  border: 1px solid #ccc;
}

.container{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}