.fileInput {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.fileInput_icons {
  margin: 1rem 0;
}

.fileInput_container {
  padding: 1rem;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #7cc6fecc;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    max-width: 250px;
    text-align: center;
  }
}
