.fileInput {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.fileInput_icons {
  margin: 1rem 0;
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.35s ease-in-out;
  position: relative;

  p {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 100;
    font-size: 0.9rem;
  }

  img {
    object-fit: contain;
    width: 18rem;
  }

  &:hover {
    transform: scale(1.05);
  }

  .morphButton {
    border-radius: 3.75rem;
    border: none;
    width: 3.75rem;
    height: 3.75rem;
    overflow: hidden;
    transition: 650ms cubic-bezier(0, 1.2, 0.9, 1);
    position: relative;
    cursor: pointer;
    background: linear-gradient(150deg, var(--color-green), var(--color-blue));
    position: absolute;
    top: -10%;
    right: 20%;

    &[data-status='true'] {
      background: var(--color-error);

      img {
        transform: translate(50%, -50%) rotate(45deg);
      }
    }

    img {
      width: 1.563rem;
      height: 1.563rem;
      position: absolute;
      top: 50%;
      right: 1.875rem;
      transform: translate(50%, -50%);
      transition: all 250ms cubic-bezier(0, 1.5, 1, 1.5);
      object-fit: contain;
      z-index: 1;
    }
  }
}

.fileInput_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;

  .description {
    max-width: 300px;
    text-align: center;
  }
}

.fileInput_controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
