.button {
  display: flex;
  gap: 1rem;
  padding: 0.625rem 1.5rem;
  border: none;
  border: 0.188rem solid rgba(189, 203, 213, 0.3);
  width: fit-content;
  border-radius: 1.875rem;
  background-color: transparent;
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 3;
  font-weight: 700;
  justify-content: center;

  svg {
    margin: 0 0.625rem;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    transform: scale(1.05);
  }

  &.primary {
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  &.secondary {
    background-color: var(--color-sky);
    color: #fff;
  }

  &.success {
    background-color: var(--color-green);
    color: #fff;
  }

  &.white {
    background-color: var(--color-white);
    color: var(--color-black);

    &:disabled {
      opacity: 0.95;
      filter: brightness(0.9);
    }
  }

  &.black {
    background-color: var(--color-black);
    box-shadow: 0px 7px 0.813rem rgba(255, 255, 255, 0.3), 0px 0.125rem 0.25rem rgba(232, 231, 231, 0.4),
      inset 0px -0.188rem 0px rgba(255, 255, 255, 0.5);
    color: var(--color-white);
  }

  &.none {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.glass {
    background-image: radial-gradient(
      91.37% 249.23% at 3.15% 12.44%,
      rgba(255, 255, 255, 1) 0%,
      rgba(71, 176, 255, 0.35) 48.44%,
      rgba(255, 255, 255, 0.6) 100%
    );
    filter: drop-shadow(0px 10.3755px 19.2687px rgba(66, 152, 217, 0.3))
      drop-shadow(0px 2.9644.063rem 5.92883px rgba(66, 152, 217, 0.4));
  }

  &.gradient {
    background: linear-gradient(140deg, var(--color-blue), var(--color-green));
    border: none;
    color: var(--color-white);
  }

}
