.dropdown_container {
  position: relative;
  z-index: 2;

  .langSwitcher {
    display: flex;
    gap: 0.625rem;
    flex-direction: row;
    align-items: center;
    border: 0.063rem solid var(--color-white);
    padding: 0.5rem 0.625rem;
    border-radius: 0.5rem;
    background-color: #ffffff60;
    box-shadow: 0px 0px 0.75rem 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.313rem);
    cursor: pointer;
    color: var(--color-black);

    img {
      width: 22px;
      height: 22px;
    }

    @media (max-width: 992px) {
      height: 2.813rem;
      width: 2.813rem;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.7);
      border: 0.063rem solid var(--color-grey-100);
      border-radius: 0.313rem;
      font-size: 1.25rem;
    }
  }

  .lang_dropdown {
    position: absolute;
    bottom: calc(100% - 0.625rem);
    background-color: #ffffff60;
    border: 0.063rem solid var(--color-white);
    box-shadow: 0px 0px 0.625rem 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 0.938rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(0.313rem);
    width: 100%;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.35s ease-in-out;

    @media (max-width: 992px) {
      top: calc(100% - 0.625rem);
      padding-top: 0.938rem;
      bottom: unset;
      padding-bottom: unset;
    }

    &[data-isopen='true'] {
      opacity: 1;
      pointer-events: all;
    }

    button {
      width: 100%;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}
