.viewerParent {
  margin: auto;

  .preview {
    background-color: var(--color-white);
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 0px 0px 0.75rem 0px rgba(0, 0, 0, 0.15);
    width: fit-content;
    margin: 0 auto;

    &.inDrawer canvas {
      max-width: 40vw;
      width: unset !important;
      height: unset !important;
      max-height: 80vh;
      object-fit: contain;
    }

    @media (max-width: 992px) {
      margin-bottom: 5vh;
    }
  }
}

.controls {
  position: absolute;
  top: 0px;
  right: calc(100% + 0.625rem);
  display: flex;
  flex-direction: column;

  .shareBtn img {
    filter: invert(1);
    width: 1rem;
    height: 1rem;
  }

  @media (max-width: 992px) {
    position: relative;
    flex-direction: row;
    right: 0px;
    margin-bottom: 0.5rem;

    .shareBtn {
      width: auto;
      padding: 0 0.5rem;
      background-color: var(--color-blue);
      border: 0.063rem solid var(--color-white);
      color: var(--color-white);
      margin-left: auto;

      img {
        width: 0.75rem;
        height: 0.75rem;
        filter: invert(0);
      }

      > * {
        margin: 0 0.313rem;
      }
    }
  }

  button,
  a {
    width: 65px;
    height: 35px;
    margin: 0.313rem;
    border: 0.063rem solid var(--color-grey-300);
    background-color: var(--color-white);
    border: 0.125rem solid var(--color-white);
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.625rem);
    color: var(--color-grey-500);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 0.75rem;
      height: 0.75rem;
      filter: invert(0);
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

.viewer {
  background-color: rgb(230, 230, 230);
  padding: 15px;
  width: fit-content;
  height: 85%;
  margin: 0 auto 1rem auto;
  position: relative;

  .preview {
    overflow-y: auto;
    position: relative;
    max-height: 100%;
    z-index: 2;

    transition: width 0.5s;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
