.tabSelector {
  border: 0.125rem solid var(--color-white);
  display: flex;
  padding: 0.2rem;
  background-color: #ececec30;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.625rem);
  position: relative;
  margin-bottom: 2rem;
  margin-top: 1rem;

  button {
    background: transparent;
    border: 0.125rem solid transparent;
    margin: 0 0.938rem;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    opacity: .5;

    @media (max-width: 768px) {
      margin: 0 0.313rem;
      padding: 0.5rem;
    }

    &[data-current='true'] {
      opacity: 1;
    }
  }

  .tabTracker {
    position: absolute;
    background-color: #efefef4d;
    opacity: 1;
    backdrop-filter: blur(0.625rem);
    border: 0.125rem solid var(--color-white);
    border-radius: 0.625rem;
    transition: 0.2s linear;
    z-index: -1;
  }
}

.tabContent {
  flex-grow: 1;
  width: 100%;
}

.tabs {
  display: none;
  opacity: 0;
  flex-grow: 1;
  height: 100%;
  width: 100%;

  &[data-visible='true'] {
    display: flex;
    opacity: 1;
  }
}
