.tabSelector {
  border: 2px solid var(--color-white);
  display: flex;
  padding: 0.2rem;
  background-color: #ececec30;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  button {
    background: transparent;
    border: 2px solid transparent;
    margin: 0 15px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &[data-current='true'] {
      background-color: #bababa30;
      border: 2px solid var(--color-white);
      font-weight: bold;
    }
  }
}

.tabContent {
  flex-grow: 1;
  width: 100%;
  max-width: 500px;
}

.tabs {
  display: none;
  opacity: 0;

  &[data-visible='true'] {
    display: block;
    opacity: 1;
  }
}
