.history_container {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #ffffff90;
  border: 1px solid #f8f8f8;
  backdrop-filter: blur(3px);
  border-radius: 8px;
  position: relative;
  z-index: 2;

  h3 {
    padding: 10px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .historyList {
    list-style: none;
    padding: 0;
  }

  .historyCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    transition: all 120ms ease-in;
    background-color: #ffffff90;

    &:not(:last-of-type) {
      border-bottom: 1px solid #f8f8f8;
    }

    .expiresIn {
      font-size: 0.7rem;
      color: var(--color-grey-300);
    }

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      text-decoration: none;
      color: var(--color-grey-900);

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      div {
        max-width: 80%;

        p {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}
