.history_container {
  max-width: 45rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #ffffff30;
  border: 0.063rem solid #f8f8f8;
  backdrop-filter: blur(0.188rem);
  border-radius: 0.5rem;
  position: relative;
  z-index: 2;
  border: 0.05rem solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0.625rem 1.5rem 0 rgba(0, 0, 0, 0.1);

  @media (max-width: 576px) {
    margin: var(--safe-zone-x);
  }

  h3 {
    padding: 1.3rem;
    font-weight: 900;
    margin-bottom: 0.625rem;
    position: sticky;
    top: 0;
    z-index: 3;

    @media (max-width: 390px) {
      font-weight: 400;
    }
  }

  .historyList {
    list-style: none;
    padding: 0;
    z-index: -1;
    overflow-y: auto;
    max-height: 21rem;
    padding: 1.5rem;
  }

  .historyCard {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    transition: all 120ms ease-in;
    padding: 1rem 0;
    position: relative;
    border-bottom: 0.063rem solid #00000010;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 0rem;
      height: 100%;
      left: -1.5rem;
      width: calc(100% + 3rem);
      z-index: -1;
      background-color: transparent;
      transition: background-color 120ms ease-in;
    }

    &:hover {
      &:after {
        background-color: #ffffffd3;
      }

      a {
        font-weight: bold;
      }
    }

    .expiresIn {
      font-size: 0.7rem;
      color: var(--color-grey-300);
    }

    img {
      width: 1.2rem;
      height: 1.2rem;
      object-fit: contain;
    }

    .openLink {
      display: flex;
      align-items: center;
    }

    &[data-loading='true'] {
      cursor: progress;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      text-decoration: none;
      color: var(--color-grey-900);
      transition: all 120ms ease-in;
      background: none;
      border: none;

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin: 0 1rem;
      }

      div {
        max-width: 80%;
        text-align: start;

        p {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}
