.moreInfo {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--color-grey-100);
  border-radius: 5px;
  color: var(--color-black);
  background: transparent;
  font-size: 20px;
}
