.downloadButton {
  max-width: 325px;
  right: 1.875rem;
  bottom: 10vh;
  background: var(--color-white);
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 0px 0.75rem 0px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  text-align: start;
  font-size: 0.9rem;
  cursor: pointer;
  z-index: 13;

  > div {
    display: flex;

    align-items: center;

    p {
      margin: 0 0.5rem;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .fileWeight {
    font-size: 0.8rem;
    color: #999;
  }

  @media (max-width: 992px) {
    position: relative;
    bottom: unset;
    right: unset;
    margin-bottom: 0.5rem;
    max-width: unset;
  }
}
