.downloadButton {
  max-width: 25rem;
  right: 1.875rem;
  bottom: 10vh;
  background: var(--color-white);
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  text-align: start;
  font-size: 0.9rem;
  cursor: pointer;
  z-index: 13;
  border: 0.125rem solid var(--color-white);
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  backdrop-filter: blur(0.625rem);
  opacity: 0.6;
  transition: opacity 0.25s ease-out;

  &:hover {
    opacity: 1;
  }

  > div {
    display: flex;

    align-items: center;

    p {
      margin: 0 0.5rem;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .fileWeight {
    font-size: 0.8rem;
    color: #999;
  }

  @media (max-width: 992px) {
    position: relative;
    bottom: unset;
    right: unset;
    margin-bottom: 0.5rem;
    max-width: unset;
  }
}
