.fileViewer {
  display: flex;
  flex-direction: column;
  z-index: 12;
  transition: 0.25s ease-in-out;

  @media (min-width: 768px) {
    margin-top: var(--safe-zone-y);
  }

  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
  }

  p {
    max-width: 25rem;
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 0.5rem;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}
