.logo_container {
  display: flex;
  flex-direction: column;

  a:first-child {
    height: 40px;
  }

  .watermark {
    color: #47b0ff;
    opacity: 0.5;
    text-decoration: none;
    font-size: 16px;
  }
}

.icon {
  overflow: visible;
  $duration: 0.5s;
  $delay: 0.15s;
  transition: transform 200ms ease-in;
  height: 40px;
  width: 80px;

  &:hover {
    cursor: pointer;
    transform: scale(0.95);
  }

  path {
    animation: wavy $duration ease-in-out forwards;

    &:nth-child(2) {
      animation-delay: $delay;
    }

    &:nth-child(3) {
      animation-delay: $delay * 2;
    }

    &:nth-child(4) {
      animation-delay: $delay * 3;
    }
  }
}

@keyframes wavy {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
