.circle {
  border-radius: 32px;
  border: none;
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
  transition: width 0.35s ease-in-out;

  &:hover {
    width: 110px;
  }

  img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(50%, -50%);
  }

  p {
    color: inherit;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    white-space: nowrap;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.primary {
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  &.secondary {
    background-color: var(--color-sky);
    color: #fff;
  }

  &.success {
    background-color: var(--color-green);
    color: #fff;
  }

  &.white {
    background-color: var(--color-white);
    color: var(--color-black);

    &:disabled {
      opacity: 0.95;
      filter: brightness(0.9);
    }
  }

  &.black {
    background-color: var(--color-black);
    box-shadow: 0px 7px 13px rgba(255, 255, 255, 0.3), 0px 2px 4px rgba(232, 231, 231, 0.4),
      inset 0px -3px 0px rgba(255, 255, 255, 0.5);
    color: var(--color-white);
  }
}
